**Week 3 Assignment 01**

In [ ]:
# solution 1
a=int(input("Enter the value of a "))
b=int(input("Enter the value of b "))
for i in range (1,101):
  if (i%a==0):
    print("fizz")
  if (i%b==0):
    print("buzz")
  else:
    print("fizzbuzz")
# wrong option

In [ ]:
a=int(input("Enter the value of a "))
b=int(input("Enter the value of b "))
for i in range (1,101):
  if (i%a==0):
    if(i%b!=0):
      print("fizz")
  if (i%b==0):
    if(i%a!=0):
      print("buzz")
    else:
      print("fizzbuzz")
# correction option

Enter the value of a 25
Enter the value of b 50
fizz
fizzbuzz
fizz
fizzbuzz

In [ ]:
a=int(input("Enter the value of a "))
b=int(input("Enter the value of b "))
for i in range (1,101):
  if (i%a==0):
    if(i%b!=0):
      print("fizz")
  if (i%b==0):
    if(i%a!=0):
      print("buzz")
  else:
    print("fizzbuzz")
# wrong option

In [ ]:
a=int(input("Enter the value of a "))
b=int(input("Enter the value of b "))
for i in range (1,101):
  if (i%a==0):
    if(i%b!=0):
      print("fizz")
  else:
    if (i%b==0):
      if(i%a!=0):
        print("buzz")
    else:
      print("fizzbuzz")
# wrong option

In [ ]:
# solution 02
for i in range(100):
  if i%10==0:
    print(i)
# all number from 0 to 99 which are divisible by 10

0
10
20
30
40
50
60
70
80
90

In [ ]:
# solution 03
# list1=["hi","we","are","the","elements","in","a","list"]
# for i in list1:
#   print(list1[i])

SyntaxError: invalid syntax (<ipython-input-24-ab29173df8ed>, line 1)

In [ ]:
# solution 04
list1=["hi","we","are","the","elements","in","a","list"]
for i in range(4):
  print(list1[i])

hi
we
are
the

In [ ]:
# solution 05
def add(a, b):
  print(a+b)
add(2, 3)

5

In [ ]:
# solution 06
import random
word="lion"
"".join(random.sample(word,len(word)))

'ioln'

In [ ]:

import random
word=input("Enter a word in which no letter is repeated")
l=[]
total=1
for i in range(1,len(word)+1):
  total=total*i
while(len(l)<total):
  j="".join(random.sample(word,len(word)))
  l.append(j)
for each in l:
  print(each)
#  shows some jumbled forms of the word where some forms might be repeated as well

In [ ]:
# # Assuming, there is no file named "file.txt" on my computer,
# with open ("file.txt","w") as f:
#     print(f.read())
#   f.write("Hey ! i am writing");
# f.close()
# # error

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 4)

In [ ]:
# solution 9
# Assuming, there is no file named "file.txt" on my computer,
with open("fi.text","w") as f:
  f.write("Hey ! i am writing.");
f.close()

with open("fi.text","w") as f:
  f.write("Hey i am writing the second line.");
f.close()

with open("fi.text","r") as f:
  print(f.read())
f.close()

Hey i am writing the second line.

In [ ]:
# Solution 10
with open("f.txt","w") as myfile:
  myfile.write("0110");
myfile.close()

with open("f.txt","r") as myfile:
  l=list(myfile.read());
  suml=0
  for each in l:
    suml=suml+int(each)
  print(suml)
myfile.close()

2